---
import Layout from '~/layouts/Layout.astro'
import moment from 'moment'

const response = await fetch('https://json.extendsclass.com/bin/046f024ee1d1')
  .then((reply) => reply.json())
  .then((data) => data)
  .catch((error) => console.log(error))

interface DataTypes {
  sellerId: string
  sellerName: string
  winRatePercentage: number
  hasFba: boolean
  ratingPercentage: number
  ratingCount: number
  country: number
  lastWonUTC: number
  winDurationSeconds: number
}
---

<Layout title="Demo Test">
  <div class="container mt-4">
    <div class="table-container">
      <h1 class="bg-gray-300 py-3 text-center font-bold">BuyBox Statistics</h1>

      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Rating</th>
              <th>Review</th>
              <th>Last Won</th>
              <th>Time Period</th>
            </tr>
          </thead>

          <tbody>
            {
              response.data.map((item: DataTypes) => {
                let name = item.sellerName
                let percentage = item.ratingPercentage + '%'
                let rating = item.ratingCount.toLocaleString()
                let lastWon = moment.utc(item.lastWonUTC).format('M/D/YY HH:mm')
                let timePeriod = moment.duration(item.winDurationSeconds, 'seconds').humanize()
                let timePeriodTooltip = moment.utc(item.lastWonUTC).format('DD MMM YYYY HH:mm')

                return (
                  <tr>
                    <td>{name}</td>
                    <td>{percentage}</td>
                    <td>{rating}</td>
                    <td>{lastWon}</td>
                    <td data-time-period={timePeriodTooltip} title={timePeriodTooltip}>
                      {timePeriod}
                    </td>
                  </tr>
                )
              })
            }
          </tbody>
        </table>
      </div>

      <div class="pagination">
        <button type="button">Previous</button>

        <div class="pagination-numbers">
          <span>1</span>
          <span>2</span>
          <span>3</span>
        </div>

        <button type="button">Next</button>
      </div>
    </div>
  </div>
</Layout>
